@using Microsoft.AspNetCore.Mvc.Razor
@using projectClient.DTO
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model QuestionDTO

<h1>Add new Question</h1>
<form method="post" asp-action="PostAdd" asp-controller="QuestionClient">
    <div class="form-group">
        <label for="Title">QuestionName:</label>
        <input type="text" class="form-control" id="Title" asp-for="QuestionName" />
    </div>
    <div class="form-group">
        <label for="Type">Mark:</label>
        <input type="number" min="1" class="form-control" id="Type" asp-for="Mark" />
    </div>
    <div class="form-group">
        <label for="examId">Select an exam:</label>
        <select name="exam" id="examId" class="form-control">
            @foreach (var a in ViewBag.exams)
            {
                <option value="@a.ExamId _ @a.PaperNo">@a.ExamName _PaperNo: @a.PaperNo</option>
            }
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>